.dialogs {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.dialogs_items  {
  padding: 10px;
}

.dialog {
  line-height: 20px;
}

.dialog .active{
  color:gold;
}

.messages {
  padding: 10px;
}

.addMess {
  margin-top: 15px;
}
 
.user {
  height: 36px;
}

.dialogs_items  img {
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  margin-left:10px;
  margin-right: 10px;
}
