.message {
    width: 150px;
}

.message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left:10px;
     margin-right: 10px;
}
div.message:nth-child(even) {
    margin-left: 150px;
}

div.message:nth-child(even) img {
    float:right
}