.content {
    grid-area:c;
    background-color:cornflowerblue;
    }
    .content img.fond {
      width: 100%;
      height: 300px;
    }
    
    .user img {
        width: 80px;
        height: 80px;
        margin: 0 50%;
    }